/* latin-ext */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v16/S6uyw4BMUTPHjxAwXjeu.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v16/S6uyw4BMUTPHjx4wXg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
    font-family: 'Share Tech Mono';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Share Tech Mono'), local('ShareTechMono-Regular'), url(https://fonts.gstatic.com/s/sharetechmono/v9/J7aHnp1uDWRBEqV98dVQztYldFcLowEF.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


/* parallax prep */
body html {
    height: 100%;
}

.affix {
    top: 0;
    width: 100%;
    z-index: 9999 !important;
}

.navbar {
    margin-bottom: 0px;
}

.affix~.container-fluid {
    position: relative;
    top: 50px;
}

#contact-icons-small {
    display: none;
}

@media screen and (max-width: 766px) and (min-width: 370px) {
    #contact-icons {
        display: none !important;
    }


    #contact-icons-small {
        display: inline;
    }
}

@media screen and (max-width: 375) {

    /* #zara-kletz {
        display: none !important;
    } */

    #contact-icons-small {
        margin: 0;
    }
}


#call-me-maybe {
    margin: 5 5;
    /* position: absolute; */
    display: inline-block;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-family: Lato;
    color: aliceblue;
}

#section1 {
    padding-top: 50px;
    padding-bottom: 2em;
    height: auto;
    color: #fff;
    background-color: rgba(252, 68, 69);
    text-align: center;
    border-radius: 3px;
}

#section2 {
    padding-top: 50px;
    padding-bottom: 5em;
    height: auto;
    color: #fff;
    background-color: #673ab7;
    text-align: center;
    background: #327A83;
    width: 100%;
    border-radius: 3px;
}

#section3 {
    padding-top: 50px;
    padding-bottom: 5em;
    height: auto;
    color: #fff;
    background-color: #327A83;
    text-align: center;
    border-radius: 3px;
}

#section4 {
    padding-top: 50px;
    padding-bottom: 5em;
    height: auto;
    color: #fff;
    background-color: #FC4445;
    border-radius: 3px;
}

#top-line {
    background-color: #327A83;
    height: 30px;
}

#landing-page {
    background-image: url('yayoi.jpg');
    padding-top: 5em;
    padding-bottom: 5em;
    text-align: center;
}

.parallax-background {
    position: fixed;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
}

#yayoi-2 {
    background-image: url('yayoi2.png');
    padding-top: 5em;
    padding-bottom: 5em;
    text-align: center;
}

#yayoi-3 {
    background-image: url('yayoi3.jpg');
    padding-top: 5em;
    padding-bottom: 5em;
    text-align: center;
}

#yayoi-4 {
    background-image: url('yayoi6.jpg');
    padding-top: 5em;
    padding-bottom: 5em;
    text-align: center;
}

#zara-kletz {
    font-family: Share Tech Mono;
}

#font-lato {
    font-family: Lato;
}


#linkedIn-logo {
    width: 10px;
    height: 10px;
}


h1 {
    padding-top: 8.3em;
    font-family: Share Tech Mono;
    font-style: normal;
    font-weight: bolder;
    color: whitesmoke;
    text-shadow: 2px 2px 4px #000000;
}


h2 {
    font-family: Share Tech Mono;
    font-style: normal;
    font-weight: normal;
    font-weight: bold;
    color: whitesmoke;
    text-shadow: 2px 2px 4px #000000;
}

h3 {
    font-family: Share Tech Mono;
    font-weight: bold;
    padding-bottom: 1em;
}

h4 {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    color: #FFFFFF;
}

p {
    font-family: Lato;
    font-size: 14pt;
}


#colour-white {
    color: #FFFFFF;
}

#headshot {
    width: auto;
    height: 300px;
    border: 7px solid #327A83;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 219px;
    margin-top: 3em;
}

@media only screen and (max-width: 600px) {
    #headshot {
        max-height: 200px;
    }
}

#yayoi {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

#logo-collective {
    width: auto;
    max-height: 250px;
    margin: 1em;
    border-radius: 5px;
}

@media only screen and (max-width: 740px) {
    #yayoi {
        max-height: 250px;
    }
}

@media only screen and (max-width: 600px) {
    #yayoi {
        width: 100%;
        height: auto;
    }

    #logo-collective {
        width: 80%;
        height: auto;
    }
}

@media only screen and (max-width: 400px) {
    #yayoi {
        width: 100%;
        height: auto;
    }

    #logo-collective {
        width: 80%;
        height: auto;
    }
}

.coding-logo {
    width: 100px;
    height: 100px;
}

.centralise {
    display: flex;
}

.flex-lifestyle {
    display: flex;
    flex-wrap: wrap;
}

/* #about-description {
    padding: 1em;
    color: black;
    text-align: center;
} */

#resume-button {
    font-family: Share Tech Mono;
    color: black;
    margin: 0.8em;
    margin-top: 2em;
    transition-duration: 0.4s;
    border: 2px solid #327A83;
    background: #DDDDDD;
}


#resume-button:hover {
    background-color: #327A83;
    color: white;
}

@media screen and (max-width: 991px) {
    .tool-logo {
        height: 100px;
        width: auto;
    }
}

.center-align-text {
    text-align: center;
}

/* .logo-border {
    margin: 1.5em;
} */

#tools-description {
    border-radius: 5px;
    background-color: #FC4445;
    margin: 1.5em;
    padding: 1em;
}

#yellow-background {
    background: yellow;
}

#portfolio-box {
    background: #327A83;
    border-radius: 5px;
    margin: 1em;
}

#about-section {
    margin-left: 5em;
    margin-right: 5em;
    /* background: rgba(255, 255, 255, 0.72); */
    background-color: #FC4445;
    border-radius: 5px;
    color: whitesmoke;
    text-align: center;
    word-wrap: break-word;
}


@media screen and (max-width: 950px) {
    #about-section {
        margin-left: 3em;
        margin-right: 3em;
        margin: 0.2em;
        border-radius: 5px;
    }
}

#portfolio-item {
    /* background: black; */
    color: white;
    height: 250px;
    width: auto;
    margin: 1em;
    border-radius: 5px;
}

#form-personalise {
    font-family: Lato;
}

#contact-form {
    max-width: 700px;
}

footer {
    color: white;
    background: black;
    font: Share Tech Mono;
    text-align: center;
}

#foot {
    height: 10px;
}

#portfolio-screenshot {
    height: 100%;
    width: auto;
    border: gray;
    border-width: 1em;
    border-style: solid;
    border-radius: 5px;

}

#portfolio-button {
    width: auto;
    height: 100%;
    background-color: transparent;
    border-color: transparent;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    border-radius: 5px;
    z-index: 9000 !important;
}

/* #portfolio-button:hover {
    background-color: (85, 85, 85, 0);
    color: white;
} */

.port-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.port-overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.port-container:hover .port-container {
    bottom: 0;
    height: 100%;
}

.container-life {
    position: relative;
    width: 50%;
}

.image-life {
    display: block;
    width: 100%;
    height: auto;
    border: gray;
    border-width: 1em;
    border-style: solid;
    border-radius: 5px;
}

.overlay-life {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #242424;
    border-radius: 5px;
}

.container-life:hover .overlay-life {
    opacity: 1;
}

.text-life {
    color: whitesmoke;
    font-size: 12pt;
    position: absolute;
    font-family: 'Lato';
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 5px;
}

#button-life {
    font-family: Share Tech Mono;
    color: black;
    margin: 0.8em;
    margin-top: 2em;
    transition-duration: 0.4s;
    border: 2px solid #327A83;
    background: #DDDDDD;
}

#rickmini {
    display: none;
}


@media screen and (max-width: 1170px) {
    .container-life {
        width: 70%;
    }
}

@media screen and (max-width: 985px) {
    .container-life {
        width: 90%;
    }
}

@media screen and (max-width: 790px) {
    .container-life {
        width: 100%;
    }
}

@media screen and (max-width: 710px) {
    .text-life {
        font-size: 10px;
    }


    @media screen and (max-width: 630px) {

        #rickmini {
            display: inline;
        }

        #rickplus {
            display: none;
        }

        #button-life {
            margin: 0.2em;
        }

        .image-life {
            display: block;
            width: 100%;
            height: 300px;
            border: gray;
            border-width: 1em;
            border-style: solid;
            border-radius: 5px;
        }

    }

    #button-life-port {
        margin-top: 0.5em;
    }